<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"/>
    <title>Trips Processing Data</title>
  </head>
  <body>
    <noscript>You need Javascript to execute this App</noscript>
    <h1 class="heading">Trips Processing Data</h1>
    <form action="" method="post" onsubmit="startStatusUpdates(event)">
      <input class="file-selector" name="files" type="file" multiple>
      <button id="loadFileButton">Load Files</button>
    </form>
    <div>
      <p>Filename: <span class="bold" id="filename"></span></p>
    </div>
    <div class="progress">
      <progress id="percentProgress" max="100" value="0"></progress>
      <caption>Progress <span class="percent-value bold" id="percent"></span></caption>
    </div>
    <div>
      <h2 class="trips-title">Average Weekly Trips By Bounding Box</h2>
      <form action="" onsubmit="getWeeklyAvgTripsByBoundingBox(event)">
        <div class="trips-content">
          <div>
            <h4 class="point-title">Point A</h4>
            <div class="point-content">
              <p class="point-text">X: </p><input type="text" placeholder="0.00" id="x_a">
            </div>
            <div class="point-content">
              <p class="point-text">Y: </p><input type="text" placeholder="0.00" id="y_a">
            </div>
          </div>
          <div>
            <h4 class="point-title">Point B</h4>
            <div class="point-content">
              <p class="point-text">X: </p><input type="text" placeholder="0.00" id="x_b">
            </div>
            <div class="point-content">
              <p class="point-text">Y: </p><input type="text" placeholder="0.00" id="y_b">
            </div>
          </div>
          <div class="result-content">
            <p class="point-text">Result: </p><input disabled type="text" id="bb_result">
          </div>
          <button class="result-content">Get Weekly Average Trips By Bounding Box</button>
        </div>
      </form>
    </div>
    <div class="trips-header">
      <h2>Average Weekly Trips By Region</h2>
      <form action="" onsubmit="getWeeklyAvgTripsByRegion(event)">
        <div class="avg-region-button-content">
          <button>Get Weekly Average Trips By Region</button>
        </div>
      </form>
    </div>
    <table>
      <thead>
        <tr>
          <th>Region</th>
          <th>Avg Trips</th>
        </tr>
      </thead>
      <tbody id="tableBody">
      </tbody>
    </table>
    <script src="{{ url_for('scripts', path='/scripts.js') }}"></script>
  </body>
</html>